export(set.query,sqlColumnsInfo,sqlDatabases,sqlConnectionDatabase,sqlSetWorkingDatabase,sqlTablesInfo,sqlColumnsTypesInfo,
get.tableStructure,verifySqlTypes,allowedSqlTypes,
sqlNeedQuote,mssql.to.rType,sqlTypeConversion,sqlToTclType,sqlToTclTypeConversion,
checkSqlTypeConversion,setOdbcConnection,rename.data.frame,sql.get.table,tcl.get.table,
sqlCommand,create.cov.table,drop.table,delete.table,select.result,select.count,
tableFieldTypes,sqlCreateTable,sqlGetErrMsg,sqlWorkingDatabase,tableExist)

S3method(verifySqlTypes,default)
S3method(verifySqlTypes,mssql)

S3method(allowedSqlTypes,default)
S3method(allowedSqlTypes,mssql)

S3method(sqlNeedQuote,default)
S3method(sqlNeedQuote,mssql)

S3method(sqlTypeConversion,default)
S3method(sqlTypeConversion,mssql)

S3method(sqlToTclTypeConversion,default)
S3method(sqlToTclTypeConversion,mssql)

S3method(tableFieldTypes,default)
S3method(tableFieldTypes,mssql)

S3method(sqlCreateTable,default)
S3method(sqlCreateTable,mssql)

S3method(sqlWorkingDatabase,default)
S3method(sqlWorkingDatabase,mssql)

S3method(tableExist,default)
S3method(tableExist,mssql)

S3method(sqlConnectionDatabase,default)
S3method(sqlConnectionDatabase,mssql)

S3method(sqlSetWorkingDatabase,default)
S3method(sqlSetWorkingDatabase,mssql)